<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/sjn.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
 <!--    <ul class="content">
      <li>Machine Learning Researcher at <a href="https://www.iri.upc.edu/">IRI (UPC-CSIC)</a></li>
      <li>Creator and maintainer of <a href="https://github.com/Cloud-CV/EvalAI">EvalAI Project</a></li>
      <li>Masters in Computer Science (specialization in Machine Learning), Georgia Tech</li>
      <li>B.Tech in Electrical and Electronics from BITS Pilani, Pilani </li>
    </ul> -->
    <p class="content">Sneha Jain is currently conducting her PhD thesis on the influence of ocular characteristics and colour of light on discomfort glare from daylight at workplaces. Her current work focuses on improving the prediction of current discomfort glare models.</p>
    <p class="content">She completed her undergraduate degree in architecture and has a Master of Science in Building Science from International Institute of Information Technology in Hyderabad, India. Her Master thesis was on Daylight glare estimation for open-loop window roller shade control system to optimize daylight levels and visual comfort in a lab setup.</p>
    <p class="content">She also worked as a research fellow at Lawrence Berkeley National Lab in Berkeley, California. In LBNL her research was focused on the implementation of HDR images to measure several aspects of daylight such as glare, illuminance, CCT and circadian lighting.</p>
    </p>

    <p class="content"> Links:     

      <a class="btn btn-social-icon btn-vimeo" target="_blank" href="https://player.vimeo.com/video/647271232?h=ae80e03228">
        <span class="fa fa-vimeo"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://ch.linkedin.com/in/sneha-jain-22b59510b/">
        <span class="fa fa-linkedin"></span>
      </a>
      
      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/JNSneha">
        <span class="fa fa-github"></span>
      </a>


  </div>
</div>
