<div class="row">
  <h2>Honors</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Best paper award at ASIM 2018 conference in Hong Kong for the paper “Circadian lighting in a space daylit by a tubular daylight device”.</li>
      <li class="newsElement">Recipient of BHAVAN Fellowship (Building Energy Efficiency Higher and Advanced Network) from the Department of Science & Technology (DST), India for a six-month research fellowship at LBNL, California, USA.</li>
    </ul>
  </div>
</div>
