<div class="row">

  <h2>Education</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading"> Ph.D. Civil and Environmental Engineering</h3>
      <h4 class="content_heading">Ecole Polytechnique Fédérale de Lausanne (<a target="_blank" href="https://www.epfl.ch/en/">EPFL</a>), Lausanne, Switzerland</h4>
      <p class="content"><em>Supervisors: <a target="_blank" href=https://people.epfl.ch/marilyne.andersen/?lang=en">Prof. Marilyne Anderson </a> & <a target="_blank" href=https://people.epfl.ch/jan.wienold/?lang=en">Dr. Jan Wienold Garg </a> </em></p>
      <p class="content"><em> Dissertation title:  Influence of macular pigment and color of (day)light on discomfort glare.</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/epfl-logo.png" width="70%">
      <p>(Feb 2019 - April 2023)</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading"> M.Sc. Information Technology in Building Science</h3>
      <h4 class="content_heading">International Institute of Information Technology (<a target="_blank" href="https://www.iiit.ac.in/">IIIT</a>), Hyderabad, India | GPA 9.6 / 10</h4>
        <p class="content"><em> </em></p>
      <p class="content"><em>Supervisor: <a target="_blank" href=https://plaksha.edu.in/faculty-details/dr-vishal-garg/">Dr. Vishal Garg </a></em></p>
      <p class="content"><em> Dissertation title: Daylighting estimation for window shade control using high dynamic range imaging</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/iiit-logo.png" width="70%">
      <p>(Sep 2016 - Dec 2018)</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading"> B.Arch. Architecture </h3>
      <h4 class="content_heading">Maulana Azad National Institute of Technology (<a target="_blank" href="http://www.manit.ac.in/">MANIT</a>), Bhopal, India | GPA 8.5 / 10</h4>
  
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/manit-logo2.png" width="70%">
      <p>(Aug 2010 - Jan 2015)</p>
    </div>
  </div>

</div>
