<div class="row">
  <h2>Experience</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Fellow,<a target="_blank" href="https://www.lbl.gov/"> Lawrence Berkeley National Laboratory (LBNL), California, United States</a></h3>
      <p class="content">Supervisor: <a href="https://eta.lbl.gov/people/christian-kohler">Dr. Christian Kohler</a>.</p>
      <p class="content">Implementation of HDR images to measure several aspects of daylight such as glare, illuminance, CCT and circadian lighting.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/berkeley-logo.png" width="100px">
      <p>(February 2018 - August 2018)</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Virtual Construction and Design engineer , <a target="_blank" href="https://vconstruct.com/">Vconstruct Private Limited</a>.</h3>
      <p class="content">Project lead for facility management, BIM co-ordination, Quality assurance, 4D-simulations, and virtual mock-ups.</p>
      <p class="content">Major projects: Facebook data center, LinkedIn campus, Tehama residential towers.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/vconstruct-logo.png" width="120px">
      <br>
      <p>(October 2015 - August 2016)</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Architect, Studio Assemble, Sikkim, India</a>.</h3>
            <p class="content">Work: Private residence design and working drawing creations.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ceeri.png" width="110px">
      <p>(January 2018 - May 2018)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Intern, <a target="_blank"
          href="https://www.infinera.com/">Infinera India</a></h3>
      <p class="content">Developed a recommender system to notify user about non-merged changes.<br>Successfully migrate a large scale Database from Wiki to Confluence.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/infinera.png" width="120px">
      <p>(July 2017 - December 2017)</p>
    </div>
  </div>
</div>
