  <div class="row">
    <h2>Transdisciplinary Collaborations</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Evaluation of anatomic-physiologic features of the human eye which influence spectral discomfort glare sensitivity of humans</h3>
        <br>
        <p>Collaborating group: <a target="_blank" href="https://www.unil.ch/central/en/home/menuinst/formations/fbm---faculte-de-biologie-et-de-medecin.html">Faculty of Biology and Medicine </a> at the University of Lausanne and <a target="_blank" href="https://www.ophtalmique.c/">Jules Gonin Ophthalmic Hospital </a> </p>
       
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Characterization of the spectral properties of building façade glazing for daylight modulation and its influence on occupants</h3>
        <br>
        <p>Collaborating group: <a target="_blank" href="https://www.epfl.ch/labs/leso/research/domains/nano_solar_conversion/">Nanotechnology for Solar Energy Conversion </a> group at EPFL </p>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Evaluation of gaze direction and pupillary light responses induced by primary colored daylit environment and their relation to discomfort glare experience</h3>
        <br>
        <p>Collaborating group: : <a target="_blank" href="https://www.unil.ch/ip/fr/home/menuinst/linstitut/english/presentation-of-the-institut.html">Institute of Experimental Psychology </a> at the University of Lausanne </p>
      </div>
    </div>
    
   
  </div>
