<div class="row">
  <h2>Invited Talks & Presentations</h2>
  <hr>
  <div class="col-md-12">
    <ul id="talks_list">
      <li class="newsElement"><b>S Jain</b>, Influence of Daylight Spectrum filtered by colored glazing on discomfort glare perception, Daylight Academy Annual Conference & General Assembly, October 2022, Zürich, Switzerland</li>
      <li class="newsElement"><b>S Jain</b>, Does glazing color influence our perception of discomfort glare from daylight?Build for Life, VELUX Daylight Symposium 2021, Copenhagen, Denmark.</li>
      <li class="newsElement"><b>S Jain</b>, J Wienold, Glare behind blue (electrochromic) glazing, 19th Annual International Radiance Workshop, Bilbao, Spain, 2021</li>
    </ul>
  </div>
</div>
